<div class="container">
  <div class="card shadow">
    <div class="card-body">
      <div class="card-img-top">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/30/10/41/internet-1013671__480.jpg"
        />
      </div>
      <form class="form" (ngSubmit)="onSubmit()">
        <h4 class="mb-4">Create Your Account</h4>
        <div>
          <div class="mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input
              id="firstName"
              type="text"
              class="form-control"
              name="user.firstName"
              [(ngModel)]="user.firstName"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="lastName">Last Name</label>
            <input
              id="lastName"
              type="text"
              class="form-control"
              name="user.lastName"
              [(ngModel)]="user.lastName"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input
              id="username"
              type="text"
              class="form-control"
              name="user.username"
              [(ngModel)]="user.username"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input
              id="email"
              type="email"
              class="form-control"
              name="user.email"
              [(ngModel)]="user.email"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="phoneNumber">Phone Number</label>
            <input
              id="phoneNumber"
              type="text"
              class="form-control"
              name="user.phoneNumber"
              [(ngModel)]="user.phoneNumber"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              id="password"
              type="password"
              class="form-control"
              name="user.password"
              [(ngModel)]="user.password"
            />
          </div>
        </div>

        <button class="btn btn-lg btn-primary" type="submit" value="submit">
          Register
        </button>
      </form>
      <div class="login text-center">
        <a [routerLink]="['/login']">Already registered? Login</a>
      </div>
    </div>
  </div>
</div>
