<section>
  <div class="row">
    <div class="accordion" id="jobListing" class="col-8" *ngIf="jobs">
      <h2 class="text-center">{{ employer.name }}'s Job Listing</h2>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Active Jobs
            </button>
          </h2>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#jobListing"
        >
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Name</th>
                  <th scope="col" class="text-center"># Applicants</th>
                  <th scope="col" class="text-center">Close</th>
                </tr>
              </thead>
              <tbody *ngIf="jobs !== null">
                <tr *ngFor="let job of jobs">
                  <td
                    (click)="selectJob(job)"
                    *ngIf="job.active"
                    class="job-name text-center"
                  >
                    {{ job.name }}
                  </td>
                  <td *ngIf="job.active" class="text-center">
                    {{ job.applicants.length }}
                  </td>
                  <td *ngIf="job.active" class="text-center">
                    <img class="close" src="/assets/close.png" alt="" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Inactive Jobs
            </button>
          </h2>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#jobListing"
        >
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Name</th>
                  <th scope="col" class="text-center"># Applicants</th>
                  <th scope="col" class="text-center">Activate</th>
                </tr>
              </thead>
              <tbody *ngIf="jobs !== null">
                <tr *ngFor="let job of jobs">
                  <td
                    (click)="selectJob(job)"
                    *ngIf="!job.active"
                    class="job-name text-center"
                  >
                    {{ job.name }}
                  </td>
                  <td *ngIf="!job.active" class="text-center">
                    {{ job.applicants.length }}
                  </td>
                  <td *ngIf="!job.active" class="text-center">X</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <app-job-details *ngIf="this.job" [job]="job"></app-job-details>
    </div>
    <div class="col-4">
      <app-job-create></app-job-create>
    </div>
  </div>
</section>
