<!-- <p>job-create works!</p>
<div class="container">
  <div class="card shadow">
    <div class="card-body">
      <div class="card-img-top">
        <form class="form" (ngSubmit)="onSubmit()">
          <h4 class="mb-4">Create New Job Post</h4>
          <div>
            <div class="mb-3">
              <label class="form-label" for="name">Job Name</label>
              <input
                id="name"
                type="text"
                class="form-control"
                name="job.name"
                [(ngModel)]="job.name"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="description"
                >Job Description</label
              >
              <input
                id="description"
                type="text"
                class="form-control"
                name="job.description"
                [(ngModel)]="job.description"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="requirements"
                >Job Requirements</label
              >
              <input
                id="requirements"
                type="text"
                class="form-control"
                name="job.requirements"
                [(ngModel)]="job.requirements"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="location">Job Location</label>
              <input
                id="location"
                type="text"
                class="form-control"
                name="job.location"
                [(ngModel)]="job.location"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="hours">Job Hours</label>
              <input
                id="hours"
                type="text"
                class="form-control"
                name="job.hours"
                [(ngModel)]="job.hours"
              />
            </div>
          </div>

          <button class="btn btn-lg btn-primary" type="submit" value="submit">
            Register
          </button>
        </form>
        <div class="login text-center">
          <a [routerLink]="['/login']">Already registered? Login</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
