<div class="container">
  <div class="card shadow">
    <div class="card-body">
      <div class="card-img-top">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/30/10/41/internet-1013671__480.jpg"
        />
      </div>
      <form class="form" (ngSubmit)="onSubmit()">
        <h1 class="text-center mb-4">Please sign in</h1>
        <div class="mb-3">
          <label class="form-label" for="loginInput">Username or Email</label>
          <input
            class="form-control"
            id="loginInput"
            type="text"
            name="username"
            [(ngModel)]="username"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="passwordInput">Password</label>
          <input
            class="form-control"
            id="passwordInput"
            type="password"
            name="password"
            [(ngModel)]="password"
          />
        </div>
        <!-- Not sure we need to add this box, already remember the user -->
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" />Remember me
          </label>
        </div> -->
        <button class="btn btn-lg btn-primary" type="submit" value="submit">
          Sign in
        </button>
        <!-- <input type="submit" value="Submit" class="btn btn-primary" /> -->
      </form>
      <div class="create text-center">
        <a [routerLink]="['/register']"> Create Account </a>
      </div>
    </div>
  </div>
</div>

<!-- This will go in the footer
<p class="mt-5 mb-3 text-muted">© 2020</p> -->
