<section>
  <figure id="cover">
    <video src="../../../assets/home_cover.mp4" muted autoplay loop></video>
  </figure>
  <div>
    <h1>{{ user.firstName }} {{ user.lastName }}'s Profile</h1>
    <p>{{ profile.statement }}</p>
    <div *ngIf="profile.active">
      <h4>
        Open to
        <span *ngFor="let lookingFor of profile.lookingFor">
          {{ lookingFor }}</span>
        
      </h4>
    </div>
  </div>
  <div>
    <h2>Education</h2>
    <div *ngFor="let education of educations">
        <p>
          {{ education.educationLevel }} in {{ education.fieldOfStudy }}
          {{ education.completionDate }}
        </p>
        <p>
          {{ education.school }} {{ education.city }}, {{ education.state }}
        </p>
    </div>
    <h2>Work Experience</h2>
    <div *ngFor="let workExperience of workExperiences">
      <p>{{ workExperience.title }} at {{ workExperience.company }}</p>
      <p>{{ workExperience.city }}, {{ workExperience.state }}</p>
      <p>
        From {{ workExperience.startMonth }}/{{
          workExperience.startYear
        }}
        to <span *ngIf="workExperience.currentlyEmployed">Current</span>
        <span *ngIf="!workExperience.currentlyEmployed">
          {{ workExperience.endMonth }}/{{ workExperience.endYear }}</span>
      
      </p>
      <p>{{ workExperience.jobDescription }}</p>
    </div>
    <h2>Skills</h2>
    <p *ngFor="let skills of profile.skills">{{ skills }}</p>
  </div>
  <div>
    <h2>Current Location</h2>
    <p>{{ profile.address1 }}</p>
    <p *ngIf="profile.address2 !== null">{{ profile.address2 }}</p>
    <p>{{ profile.city }}, {{ profile.state }} {{ profile.zip }}</p>
    <p>{{ user.phoneNumber }} | {{ user.email }}</p>
  </div>
</section>
