section {
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100vw;
  height: auto;
  color: aliceblue;
  position: fixed;
}
p{
  color:whitesmoke;
  text-align:center;
}
#cover img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.title {
  background: #16161650;
  top: 20%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 50%);
  padding: 2rem;
  h1 {
    color: #ecead7;
    text-align: center;
  }

}

.loading {
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: fixed;
}
button {
  background-color: #12C643;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;//5px ridge white ;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
button:hover {
  opacity:5;
}
