<section>
  <figure id="cover">
    <video src="../../../assets/home_cover.mp4" muted autoplay loop></video>
  </figure>
  <!-- If loading is true, display loading module -->
  <div *ngIf="loading" class="loading">
    <app-loading></app-loading>
  </div>
  <div class="title">
    <h1><u>Welcome to Jobkik!</u></h1>
    <p>Where you can find entry level positions!</p><br>
    <p>
    <a href="register.html"><button>Sign Up</button></a><br>
    <small>Already have an account? <a href="login.component.html">Login</a></small>
    </p>

  </div>
  
</section>
