<section>
  <figure id="cover">
    <video src="../../../assets/home_cover.mp4" muted autoplay loop></video>
  </figure>
  <div class="container">
    <!-- If loading is true, display loading module -->
    <div *ngIf="loading" class="loading">
      <app-loading></app-loading>
    </div>
    <div class="title" *ngIf="!isAuthenticated">
      <h1><u>Welcome to Jobkik!</u></h1>
      <p>Where you can find entry level positions!</p>
      <br />
      <p>
        <a [routerLink]="['/register']"><button>Sign Up</button></a><br />
        <small
          >Already have an account?
          <a [routerLink]="['/login']">Login</a></small
        >
      </p>
    </div>
    <div class="title" *ngIf="isAuthenticated">
      <h1><u>Welcome to Jobkik!</u></h1>
      <p>Where you can find entry level positions!</p>
      <h3>Start browsing available jobs now!</h3>
    </div>
  </div>
</section>
